:root {
    background: linear-gradient(#92859e, #463885, rgb(53, 134, 172)) !important;
    color: black;
    font-family: 'Caveat', cursive;
    font-family: 'Tilt Warp', cursive;
  }
  
  
  /* Global styles */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  #home-screen  {
    margin-bottom: 10rem;
    color: rgb(255, 255, 255);
    font-size: 30;
    text-align: center;
    
  }
  
  

  
  
  /* Flex styles */
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .flex-center {
    justify-content: center;
    align-items: center;
  }
  
  /* Button styles */
  .btn {
    
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-top: 5rem;
    color: rgb(255, 255, 255);
    background: linear-gradient(#15005f, #1c39b9);
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn:hover {
    background: rgb(255, 217, 0);
    color:#000000;
  }
  
/* Guide styles */

#guide {
    height: 300px;
    width: 20%;
    margin: auto;
    padding: 5px;
    background: rgb(255, 255, 255);
    border: 4px solid rgb(63, 63, 63);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #guide h2 {
    font-size: 60px;
    color: #11001f;
    margin-bottom: 20px;
  }
  
  #guide h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  #guide #button {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  #guide #button button {
    height: 30px;
    width: 120px;
    margin: 0 10px;
    font-size: 12px;
  }
  
  
  /* Test box styles */
  #test-box {
    display: block;
    position: absolute;
    background-color: aliceblue;
    border-radius: 50px;
    height: 400px;
    width: 50%;
    margin: 0 auto;
    text-indent: 50px;
  }
  
  #test-box #quest-head {
    background: #06041b;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 20px;
  }
  
  #test-box #timer {
    font-size: 30px;
    text-align: center;
    font-style: italic;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  #test-box #quest-head h2 {
    font-size: 25px;
  }
  
  #test-box #questions {
    position: absolute;
    font-size: 40px;
    margin: 0 40px;
    width: 100%;
    height: 80px;
    line-height: 100px;
    display: flex;
    flex-wrap: wrap;
  }
  
  #test-box #questions h4 {
    background: #11001f3d;
    height: 130px;
    width: 366px;
    line-height:50px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #test-box #questions h4:hover {
    background: #ffffff;
  }
  
  #test-box #questions .active {
    background: #ffffff;
  }
  
  #test-box #questions .disabled {
    pointer-events: none;
  }
  
  /* Results styles */
  #correct {
    bottom: -212px;
    right: -140px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    font-size: larger;
    color: #4bff04;
    text-decoration-line: underline;
  }
  
  #wrong {
    bottom: -212px;
    left: -140px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    font-size: larger;
    color: #d30000;
    text-decoration-line: underline;
  }
  
  #results {
    font-size: 40px;
    height: 350px;
    width: 450px;
    padding: 20px;
    background: #ffffff9f;
    border-radius: 30px;
    color: #000000;
    border: 10px solid #8c059e;
    overflow: hidden;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    letter-spacing: 2px;
  }
  
  #results button {
    padding: 10px;
    font-size: 30px;
    margin: 9px;
    cursor: pointer;
    background-color: #11001f86;
    box-shadow: 5px 5px #06041b;
    border-radius: 5px;
  }
  
  #results button:hover {
    background: #ffffff;
  }
  
  #results button.active {
    background: #ffffff;
  }
  
  #results button.disabled {
    pointer-events: none;
  }
  
  /* Highscore styles */
  #highscore {
    font-size: 20px;
    height: 350px;
    width: 450px;
    padding: 20px;
    background: #ffffff9f;
    border-radius: 30px;
    color: #000000;
    border: 10px solid #8c059e;
    overflow: hidden;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    letter-spacing: 2px;
  }
  
  #highscore h1 {
    font-weight: bolder;
  }
  