:root {
    background: linear-gradient(#e66465, #9198e5);
    color: white;
}

header {
   color: white; 
}

.btn {
font-size: 40px;
padding: 60px;
width: 20px;
margin-bottom: 20px;
color: black;
background: linear-gradient(#fff460, #ffd270);
border-radius: 5px;
}